.api-help-card {
  border-radius: 10px;
  border: 1px solid #dcdcde;
  padding: 1% 2%;
  margin-bottom: 1%;
}
.api-help-title {
  cursor: pointer;
}
.api-help-title:hover {
  color: rgb(29 35 39 / 58%);
}
.api-help-content {
  display: none;
}
div#api-auth {
  background: aliceblue;
  padding: 0.5% 1.5%;
  border-radius: 10px;
  display: none;
}
#api-key-generate {
  font-weight: bold;
}
.genosha-meta-fields {
  display: flex;
  flex-direction: column;
  padding-top: 0.5%;
}
.genosha-meta-fields label {
  display: block;
  padding-bottom: 0.5%;
  font-weight: bold;
}
.genosha-meta-upload {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.genosha-meta-fields.genosha-meta-tags {
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.genosha-meta-fields.genosha-meta-tags input {
  flex-basis: 25%;
}
.genosha-meta-upload.genosha-meta-upload-2 {
  grid-template-columns: 1fr 1fr;
}
div#skybox-messages p.error {
  background: red;
  display: inline-block;
  padding: .5% 1%;
  border-radius: 5px;
  color: white;
}
div#skybox-messages p.success {
  background: green;
  display: inline-block;
  padding: .5% 1%;
  border-radius: 5px;
  color: white;
}
.genosha-networks-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
}
.genosha-networks-form .genosha-meta-fields {
  margin-bottom: 4%;
  padding-bottom: 2%;
  border-bottom: 1px solid lightgray;
}
.genosha-networks-form .genosha-meta-fields input[type=file]{
  margin-top: 2%;
  margin-bottom: 2%;
}
.video-mp4{
  display: flex;
  flex-direction: column;
}
.video-mp4 .button {
  width: auto;
  max-width: 30%;
  text-align: center;
}