.api-help-card {
  border-radius: 10px;
  border: 1px solid #dcdcde;
  padding: 1% 2%;
  margin-bottom: 1%;
}
.api-help-title {
  cursor: pointer;
}
.api-help-title:hover {
  color: rgb(29 35 39 / 58%);
}
.api-help-content {
  display: none;
}
div#api-auth {
  background: aliceblue;
  padding: 0.5% 1.5%;
  border-radius: 10px;
  display: none;
}
#api-key-generate {
  font-weight: bold;
}
.genosha-meta-fields {
  display: flex;
  flex-direction: column;
  padding-top: 0.5%;
}
.genosha-meta-fields label {
  display: block;
  padding-bottom: 0.5%;
  font-weight: bold;
}
.genosha-meta-upload {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.genosha-meta-fields.genosha-meta-tags {
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.genosha-meta-fields.genosha-meta-tags input {
  flex-basis: 25%;
}
.genosha-meta-upload.genosha-meta-upload-2 {
  grid-template-columns: 1fr 1fr;
}
